[bumpversion]
current_version = 1.1.0
commit = True
message = 
	Prepare for {new_version} release
	
	See NEWS.rst for more details.

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
